<div class="container">    
    <table class="table align-middle table-hover text-center mt-4 caption-top">
      <caption class="h3">Resumen Costos Recursos</caption>
      <thead class="thead-dark">
        <tr class="bg-primary text-white">
          <th scope="col">NOMBRE ROL</th>
          <th scope="col">MES 1</th>
          <th scope="col">TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="form-control text-center " type="text" placeholder="tituloCo" id="tituloResumen"  disabled></td>
          <td><input class="form-control text-center " type="text" placeholder="no se que va" id="mesResumen"  disabled></td>
          <td><input class="form-control text-center " type="text" placeholder="sumResumen.rol" id="sumResumen.rol"  disabled></td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="bg-primary text-white">          
          <td scope="col">TOTAL</th>
            <td><input class="form-control text-center " type="text" placeholder="totCo.mes" id="totResumen.mes"  disabled></td>
            <td><input class="form-control text-center " type="text" placeholder="sumCo.total" id="sumResumen.total"  disabled></td>
        </tr>
      </tfoot>
    </table>
  </div>